/* Import */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

@font-face {
  font-family: 'Noto';
  src: url(NotoSansCJKtc-DemiLight.otf);
}

@font-face {
  font-family: 'Noto Bold';
  src: url(NotoSansCJKtc-Medium.otf);
}

html, body {
  margin: 0;
  font-family: 'Noto', sans-serif;
}


/* General */

body {
  background-color: #eceff1;
  font-family: 'Noto', 'Roboto', sans-serif;
  color: #333;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1.1em;
  line-height: 2.1em;
}


/* Class */

.container {
  width: 80%;
}


/* Sections */

/* Infobar */

#infobar {
  background-color: #fff;
  max-width: 85%;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}

#infobar h1 {
  margin: 0;
  display: inline-block;
}

#infobar p {
  margin: 0;
  display: inline-block;
}

#infobar #brand {
  display: inline-block;
  padding-right: 1em;
}

#infobar .navbox {
  display: inline-block;
  padding: 0 2em 0 2em;
  color: #777;
  border-left: 1px solid #ddd;
}

#infobar #socials {
  margin-top: -1em;
  margin-bottom: auto;
}

#infobar #telephone {
  color: white;
  padding: .7em 1em .7em;
  border-radius: 30px;
}

#infobar #telephone span {
  font-size: 24px;
}

/* Navbar */

#navbar {
  margin-top: 3em;
  text-transform: uppercase;
  padding: 1em;
  background-color: white;
}

#booknow {
  color: white;
}

/* Main Content */

.main-content {
  background-color: white;
  margin-top: 3em;
  padding: 2em 4.5em 2em 4.5em;
}

.photo {
  display: block;
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
}

.photo img {
  margin: 0 auto;
}

.intro {
  padding: 2em 0 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.intro p {
  margin-top: 2em;
}

.service-box {
  text-align: center;
}

.service {
  border: 3px solid #ddd;
  padding: 3em 0 3em;
  display: block;
}

.testimonials {
  border: 3px solid #ddd;
  padding: 3em 0 3em;
  display: block;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #ddd;
  margin: 2em 0 2em;
}

.title {
  text-align: center;
}

.container {
  width: 85%;
}

.question {
  padding: 1.3em;
}

.q {
  padding: .5em;
  color: white;
}

.location h5 {
  padding: .3em;
}

/* Footer */

.page-footer {
  margin-top: 5em;
}


/* Icons styling *?

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
