<html ng-app="app">
<head>
  <title>藝林整形外科</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <link rel="stylesheet" href="css/materialize.min.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="js/app.js"></script>
</head>

<body ng-controller="PageController as page">

  <!-- infobar -->
  <header id="infobar" class="z-depth-2">

    <div id="brand">
      <h1>藝林整型外科</h1><br>
      <p>
        Artwood Plastic Surgery
      </p>
    </div>

    <div class="navbox">
      <i class="material-icons md-48">home</i>
      <p>
        台北市羅斯福路<br>三段309號4樓之2
      </p>
    </div>

    <div class="navbox">
      <i class="material-icons md-48">access_time</i>
      <p>
        週一至週六10AM至8PM<br>
        週日及國定假日休診
      </p>
    </div>


    <div class="navbox">
      <div id="telephone" class="teal lighten-2">
        <i class="material-icons">phone</i>
        <span>
          (02) 3365-3196
        </span>
      </div>
    </div>

  </header>


  <!-- Container -->

  <main class="container">
    <div class="row">

      <!-- Navbar -->

      <div class="col m3">
        <div class="collection z-depth-1" id="navbar">
          <a href="#!" ng-click="page=1" class="collection-item">首頁</a>
          <a href="#!" ng-click="page=2" class="collection-item">認識藝林</a>
          <a href="#!" class="collection-item">手術特色</a>
          <a href="#!" class="collection-item">諮詢與討論</a>
          <a href="#!" ng-click="page=5" class="collection-item">常見問題</a>
          <a href="#!" ng-click="page=6" class="collection-item">交通</a>
          <a href="#!" class="collection-item teal darken-1" id="booknow">線上預約</a>
        </div>
      </div>

      <!-- Main Content -->

      <div class="col m9">
        <div class="main-content z-depth-1">

          <home ng-show="page===1"></home>

          <about ng-show="page===2"></about>

          <questions ng-show="page===5"></questions>

          <location ng-show="page===6"></location>

        </div>
      </div>

    </div>
  </main>


  <!-- Footer -->

  <footer class="page-footer teal lighten-2">
    <div class="footer-copyright">
      <div class="container">
        ©藝林整形外科2016
      </div>
    </div>
  </footer>


</body>
</html>
